<!DOCTYPE html>
<head>
  <title>Error 404 - Page Not Found</title>
  <style>
    body{
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: white;
      color: #333;
    }
    
      
    h1{
      font-size: 150px;
      margin-bottom: 10px;
    }
    p{
      font-size: 40px;
    }
    a{
      color:rgb(155, 100, 206)
    }
  </style>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>Oops! Page Not Found. Return <a href="/">home</a>.</p>

    </div>

  </body>
</head>
